<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">{{'app.title'|translate}}</a>
    </li>
    <li aria-current="page" class="breadcrumb-item active">
      {{'btn.compare'|translate}}
    </li>
  </ol>
</nav>

<ng-template #addModalContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      {{'btn.addToCompare'|translate}}
    </h4>
    <button (click)="modal.dismiss()" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <select class="form-control">
        <option>Scénář A</option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="modal.close('Close click')" class="btn btn-light" type="button">
      {{'btn.close'|translate}}
    </button>
    <button (click)="modal.close('Close click')" class="btn btn-success" type="button">
      <fa-icon [icon]="faCheck"></fa-icon>&nbsp;
      {{'btn.add'|translate}}
    </button>
  </div>
</ng-template>

<div class="bg-white shadow-sm p-4 rounded">
  <div class="text-right mb-4">
    <button (click)="onAdd(addModalContent)" class="btn btn-primary">
      <fa-icon [icon]="faPlus"></fa-icon>&nbsp;
      {{'btn.addToCompare'|translate}}
    </button>
  </div>

  <table class="table table-striped" style="font-size: 1.4em;">
    <thead>
    <tr>
      <th>
        {{'_.tax'|translate}}
      </th>
      <th *ngFor="let strategy of strategies" class="text-center">
        <span [ngStyle]="{color: strategy.parent.colorText, backgroundColor: strategy.parent.colorBg}"
              class="badge badge-pill"
              style="font-size:1em;">
          {{strategy.parent.title|translate}}
        </span><br/>
        <span style="font-size:0.8em;">{{strategy.title|translate}}</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tax of taxes">
      <th>
        {{tax.title|translate}}
      </th>
      <td *ngFor="let strategy of strategies" class="text-center">
        <app-tax-trend [trend]="findTaxInStrategy(tax.id, strategy)?.trend"></app-tax-trend>
      </td>
    </tr>
    </tbody>
  </table>
</div>

