<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <fa-icon [icon]="faHandHoldingUsd"></fa-icon>&nbsp;
      {{'app.title'|translate}}
    </a>
    <button aria-label="Toggle navigation" class="navbar-toggler p-0 border-0" data-bs-toggle="offcanvas"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            {{'menu.home'|translate}}
          </a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="dropdown01"
             ngbDropdownToggle>
            {{'menu.calculator'|translate}}
          </a>
          <ul aria-labelledby="dropdown01" class="dropdown-menu" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" routerLink="/calculators/tax-income-personal">
                {{'menu.calculatorTaxIncomePersonal'|translate}}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            {{'menu.about'|translate}}
          </a>
        </li>
      </ul>
    </div>

    <select (change)="onChangeLang()" [(ngModel)]="lang" class="form-control"
            style="display: inline-block;width: auto;margin-left: 0.5em;">
      <option [ngValue]="'cs'">CZ</option>
      <option [ngValue]="'en'">EN</option>
    </select>
  </div>
</nav>
