<div class="py-3">
  <form>
    <div class="form-row">
      <div class="col-1 pt-2 text-right">
        <b>Model:</b>
      </div>

      <div class="col">
        <select class="form-control d-inline">
          <option>Stát</option>
          <option disabled>Vlastní simulace</option>
        </select>
      </div>

      <div class="col">
        <select class="form-control d-inline">
          <option disabled>- zvolte stát -</option>
          <option>Česká republika</option>
          <option disabled>Slovensko</option>
          <option disabled>Polsko</option>
          <option disabled>Německo</option>
        </select>
      </div>

      <div class="col">
        <select class="form-control d-inline">
          <option disabled>- zvolte strategii -</option>
          <option>Skutečnost</option>
          <option>ANO</option>
          <option>ODS</option>
          <option>ČSSD</option>
          <option>Piráti</option>
          <option>Anarchokapitalismus</option>
        </select>
      </div>

      <div class="col">
        <select class="form-control d-inline">
          <option disabled>- zvolte verzi -</option>
          <option>Program volby 2017</option>
          <option>Program volby 2021</option>
        </select>
      </div>

      <div class="col-1 text-left"></div>
    </div>
  </form>
</div>
