<footer class="bd-footer p-3 p-md-5 mt-5 bg-white shadow-sm text-center text-sm-start">
  <div class="container">
    <ul class="bd-footer-links ps-0 mb-3">
      <li class="d-inline-block">
        <a href="https://github.com/cothema/tax-map" rel="noreferrer">
          <fa-icon [icon]="faGithub"></fa-icon>&nbsp;
          GitHub
        </a>
      </li>
    </ul>

    <p class="mb-0">
      Code license:&nbsp;
      <a href="https://github.com/cothema/tax-map/main/LICENSE"
         target="_blank"
         rel="license noopener noreferrer">MIT</a>,
      text content:&nbsp;
      <a href="https://creativecommons.org/licenses/by/3.0/"
         target="_blank"
         rel="license noopener noreferrer">CC BY 3.0</a>
    </p>
  </div>
</footer>
